<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Email message
    body
      .email
        .email__title(style="background-color:rgb(30,130,230);margin-bottom:30px;padding:20px 10px;border-radius:10px;")      
          h1(style="margin:0;color:white") Subject: {{subject}}
        .email__from-user
          p.email__name(style="margin-bottom:20px;font-weight:bold;font-size:1.05rem;padding:10px;") 
           | From: {{name}} 
           span(style="color:gray").email__account {{from}}
        .email__message
          p(style="color:gray;font-size:1rem;padding:10px;") 
            | Message: {{message}}